@page "{handler?}"
@model ProjectPRN221.Pages.Assignment.AssignmentModel
@using ProjectPRN221.Models
@{
    Course thisCourse = ViewData["course"] as Course;
    int questionNumber = 0;
    Boolean isViewing = (Boolean)ViewData["isViewing"];
    List<HistoryQuiz> history = new List<HistoryQuiz>();
    float point = 0;
    if (isViewing)
    {
        history = ViewData["history"] as List<HistoryQuiz>;
        point = (float)ViewData["point"];
    }
}
<style>
    .Answer {
        display: block;
    }

    .WrongAnswer, .fullyWrong {
        color : red;
    }
    .RightAnswer {
        color : green;
    }
</style>
<section class="pt-0">
    <div class="container">
        <a href="/Courses/Details?id=@thisCourse.Id">Back to course</a>

        <h3>Quizz for @thisCourse.Title</h3>
        @if (!isViewing)
        {
            <form id="quizForm" asp-page-handler="Answer" method="POST">
                @foreach (Quiz q in thisCourse.Quizzes.Where(p => p.IsDeleted == false).ToList())
                {
                    questionNumber++;
                    <div class="Question-@questionNumber">
                        <p>
                            Question @questionNumber: @q.Question
                        </p>
                        <div class="Answer">
                            <div class="Choosen">
                                <input type="radio" name="Answers[@(q.Id)].SelectedOption" value="1" id="Answers[@(q.Id)].SelectedOption" />
                                <label for="question_@(questionNumber)_answer_1">@q.Option1</label>
                            </div>
                            <div class="Choosen">
                                <input type="radio" name="Answers[@(q.Id)].SelectedOption" value="2" id="Answers[@(q.Id)].SelectedOption" />
                                <label for="question_@(questionNumber)_answer_2">@q.Option2</label>
                            </div>
                            <div class="Choosen">
                                <input type="radio" name="Answers[@(q.Id)].SelectedOption" value="3" id="Answers[@(q.Id)].SelectedOption" />
                                <label for="question_@(questionNumber)_answer_3">@q.Option3</label>
                            </div>
                            <div class="Choosen">
                                <input type="radio" name="Answers[@(q.Id)].SelectedOption" value="4" id="Answers[@(q.Id)].SelectedOption" />
                                <label for="question_@(questionNumber)_answer_4">@q.Option4</label>
                            </div>
                        </div>
                    </div>

                }

                <input value="Submit" type="button" data-bs-toggle="modal" data-bs-target="#notification" />
            </form>

            <div class="modal fade" id="notification" tabindex="-1" aria-labelledby="ModalNotification" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ModalNotification">Notification</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you submitted your assignment?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nope</button>
                            <button type="button" onclick="SubmitAnswer()" class="btn btn-primary">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        } else
        {
            <div> <p>Total point: @point.ToString("0.00") </p> </div>
            foreach (HistoryQuiz hq in history)
            {
                questionNumber++;
                <div class="Question-@questionNumber @(hq.Answer == -1 ? "fullyWrong" : "")">
                    <p>
                        Question @questionNumber: @hq.Quizz.Question
                    </p>
                    <div class="Answer">
                        <div class="Choosen @(hq.Answer == hq.Quizz.Answer && hq.Answer == 1 ? "RightAnswer" : "")
                        @(hq.Answer != hq.Quizz.Answer && hq.Answer == 1 ? "WrongAnswer" : "")">
                            <input type="radio" @(hq.Answer == 1 ? "checked" : "") disabled/>
                            <label>@hq.Quizz.Option1</label>
                        </div>

                        <div class="Choosen @(hq.Answer == hq.Quizz.Answer && hq.Answer == 2 ? "RightAnswer" : "")
                        @(hq.Answer != hq.Quizz.Answer && hq.Answer == 2 ? "WrongAnswer" : "")">
                            <input type="radio" @(hq.Answer == 2 ? "checked" : "") disabled />
                            <label>@hq.Quizz.Option2</label>
                        </div>

                        <div class="Choosen @(hq.Answer == hq.Quizz.Answer && hq.Answer == 3 ? "RightAnswer" : "")
                        @(hq.Answer != hq.Quizz.Answer && hq.Answer == 3 ? "WrongAnswer" : "")">
                            <input type="radio" @(hq.Answer == 3 ? "checked" : "") disabled />
                            <label>@hq.Quizz.Option3</label>
                        </div>

                        <div class="Choosen @(hq.Answer == hq.Quizz.Answer && hq.Answer == 4 ? "RightAnswer" : "")
                        @(hq.Answer != hq.Quizz.Answer && hq.Answer == 4 ? "WrongAnswer" : "")">
                            <input type="radio" @(hq.Answer == 4 ? "checked" : "") disabled />
                            <label>@hq.Quizz.Option4</label>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
    
</section>
<script>

    function SubmitAnswer() {

        var form = document.getElementById('quizForm');

        form.submit();
    }
</script>