@page
@model ProjectPRN221.Pages.Explodes.DetailsModel
@{
    ViewData["Title"] = "Details";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>@Model.Explode.Title</h1>
                <iframe width="650" height="400" src="https://www.youtube.com/embed/@Model.Explode.Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3>Main content</h3>
                <p>@Model.Explode.Content</p>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <ul class="list-unstyled">
                        @foreach (var explode in Model.Course.Explodes.OrderBy(x => x.Content))
                        {
                            <li class="mb-3">
                                <i class="fas fa-plus text-info me-2" onclick="showVideo('@explode.Id')"></i>
                                <a asp-page="./Detail" asp-route-eid="@explode.Id" asp-route-cid="@Model.Course.Id">@explode.Title</a>
                                <div id="video-@explode.Id" class="video-container" style="display:none;">
                                    <iframe width="320" height="240" src="https://www.youtube.com/embed/@explode.Video" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .list-group-item.active {
        background-color: #007bff;
        color: white;
        font-weight: bold;
    }
</style>
<script>
    function showVideo(explodeId) {
        var videoContainer = document.getElementById('video-' + explodeId);
        if (videoContainer.style.display === "none" || videoContainer.style.display === "") {
            videoContainer.style.display = "block";
        } else {
            videoContainer.style.display = "none";
        }
    }
</script>