@page
@model ProjectPRN221.Pages.ProfileModel
@using ProjectPRN221.Models
@{
    List<Course> courses = ViewData["courses"] as List<Course>;
    User user = ViewData["user"] as User;
    List<EnroledCourse> enroledCourses = ViewData["enroled_courses"] as List<EnroledCourse>;

}
<style>
    body {
       
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #FDC800
    }

    .profile-button {
        background: #FDC800;
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #FDC800
        }

        .profile-button:focus {
            background: #FDC800;
            box-shadow: none
        }

        .profile-button:active {
            background: #FDC800;
            box-shadow: none
        }

    .back:hover {
        color: #FDC800;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }
</style>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">@user.Username</span><span class="text-black-50">@user.Email</span><span> </span></div>
        </div>
        <div class="col-md-9 border-right">
            <form method="post">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 class="text-right">Profile Settings</h3>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">User Name</label><input type="text" class="form-control" placeholder="Enter username" value="@user.Username"></div>
                    <div class="col-md-12"><label class="labels">Email</label><input type="email" class="form-control" placeholder="Enter email" value="@user.Email" readonly=""></div>
                    <div class="col-md-12"><label class="labels">Register Date</label><input type="text" class="form-control" placeholder="Register date" value="@user.CreatedAt"></div>
                    <div class="col-md-12"><label class="labels">Updated At</label><input type="text" class="form-control" placeholder="Updated At" value="@user.UpdatedAt"></div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                    <a class="btn btn-primary profile-button">Reset Password</a>
                    </div>
            </div>
            </form>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 class="text-right">Your Courses</h3>
                </div>
                @for (int i = 0; i < user.EnroledCourses.Count(); i++)
                {
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">@courses[i].Title</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Teacher</label><input type="text" class="form-control" placeholder="Enter phone number" value="@courses[i].User.Username" readonly=""></div>
                        <div class="col-md-12"><label class="labels">Your Source</label><input type="text" class="form-control" placeholder="Enter email" value="" readonly=""></div>
                        <div class="col-md-12"><label class="labels">Enrole Date</label><input type="text" class="form-control" placeholder="Password" value="@enroledCourses[i].CreatedAt" readonly=""></div>
                    </div>
                }
                
            </div>
        </div>
    </div>
</div>
