@page
@model ProjectPRN221.Pages.Courses.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<section class="pb-11 pt-7 bg-600">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12 text-right">
                @if (Model.currUser != null)
                {
                    @if (Model.currUser.Role.Equals("Lecture") && Model.currUser.Id == Model.Course.UserId)
                    {
                        <a asp-page="./Edit" asp-route-id="@Model.Course?.Id" class="btn btn-primary me-2">Edit</a>
                        <form method="post" asp-page-handler="Delete" asp-route-id="@Model.Course?.Id" onsubmit="return confirm('Are you sure you want to delete this course?');" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    }
                }
                <a asp-page="./Index" class="btn btn-secondary ms-2">Back to List</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="font-sans-serif text-primary fw-bold">Course detail</h6>
                <h1 class="mb-6">User Research for User<br />@Model.Course.Title</h1>
            </div>
        </div>
    </div>
</section>
<section style="margin-top:-21.5rem">

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img class="w-100" src=@Model.Course.Thumbnail alt="course" />
                <h1 class="my-4">Description</h1>
                <p>@Model.Course.Description</p>

                <h1>What You’ll Learn?</h1>
                <ul class="list-unstyled">
                    @foreach (var explode in Model.Course.Explodes)
                    {
                        if (Model.isEndrolled)
                        {
                            <li class="mb-3">
                                <i class="fas fa-plus text-info me-2" onclick="showContent('@explode.Id')"></i>
                                <a asp-page="/Explodes/Details" asp-route-eid="@explode.Id" asp-route-cid="@Model.Course.Id">@explode.Title</a>
                                <div id="content-@explode.Id" style="display:none;">
                                    <p>@explode.Content</p>
                                </div>

                            </li>
                        }
                        else
                        {
                            <li class="mb-3"> <i class="fas fa-plus text-info me-2" onclick="showContent('@explode.Id')"></i>@explode.Title</li>
                            <div id="content-@explode.Id" style="display:none;">
                                <p>@explode.Content</p>
                            </div>
                        }
                    }
                </ul>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Enrolled : @Model.Enrolled Student</li>
                        <li class="list-group-item">Duration : @Model.Duration explode</li>
                        <li class="list-group-item">Categories : @Model.Course.Categories</li>
                        <li class="list-group-item text-center">
                            <img src="~/img/gallery/searching.png" width="78" alt="..." />
                            <p class="text-muted mb-0 mt-4">Contact a customer support at</p><a class="text-info" href="mailto:@Model.Lecture.Email">@Model.Lecture.Email</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-0">

    <div class="container">
        <div class="row h-100 align-items-center">
            <div class="col-md-12 col-lg-6 h-100">
                <div class="card card-span text-white h-100">
                    <img class="w-100" src="~/img/gallery/student-feedback.png" alt="..." />
                    <div class="card-body px-xl-5 px-md-3 pt-0">
                        <div class="d-flex flex-column align-items-center bg-200" style="margin-top:-2.4rem;">
                            <h5 class="mt-3 mb-0">Kimmie Vo</h5>
                            <p class="text-muted">Junior Designer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 h-100">
                <h1 class="my-4">Successful Student<br /><span class="text-primary">Feedback</span></h1>
                <p>Take courses from the world’s best instructors and universities. Courses include recorded auto-graded and peer-reviewed assignments, video lectures, and community discussion forums. When you complete a course, you’ll be eligible to receive a shareable electronic Course Certificate for a small fee.</p>
                <div class="mt-6">
                    <h5 class="font-sans-serif fw-bold mb-3">The courses that Kimmie has taken</h5>
                    <div class="card card-span bg-600">
                        <div class="card-body">
                            <div class="row flex-center gx-0">
                                <div class="col-lg-4 col-xl-3 text-center text-xl-start"><img src="~/img/gallery/art-design.png" width="120" alt="courses" /></div>
                                <div class="col-lg-8 col-xl-9">
                                    <h5 class="font-sans-serif fw-bold">Modern and Contemporary Art and Design</h5>
                                    <p class="text-muted fs--1">The Museum of Modern Art</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-4 mb-5"><img src="~/img/gallery/cta.png" width="280" alt="cta" /></div>
            <div class="col-md-6 col-lg-5">
                <h5 class="text-primary font-sans-serif fw-bold">Enroll now</h5>
                <h1 class="mb-5">Get every single<br />update you will get</h1>
                @if (Model.currUser != null)
                {
                    @if (Model.currUser.Role.Equals("Student"))
                    {
                        if (!Model.isEndrolled)
                        {
                            <form method="post" asp-page-handler="Enroll" asp-route-uid="@Model.currUser.Id" asp-route-cid="@Model.Course.Id">
                                <button type="submit" class="btn btn-primary">Enroll Now</button>
                            </form>
                        }
                        else
                        {
                            <h5 class="text-primary font-sans-serif fw-bold">resume course</h5>
                        }
                    }
                }
                else
                {
                    <a asp-page="/Authentication/login" class="btn btn-primary me-2">Log in to Enroll</a>
                }

            </div>
        </div>
    </div>
</section>
<script>
    function showContent(explodeId) {
        var Container = document.getElementById('content-' + explodeId);
        if (Container.style.display === "none" || Container.style.display === "") {
            Container.style.display = "block";
        } else {
            Container.style.display = "none";
        }
    }
</script>