@page
@model ProjectPRN221.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Index";
}

@* <h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Thumbnail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].IsActived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].EnrolNums)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thumbnail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrolNums)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@

      <section class="pb-11 pt-7 bg-600">

        <div class="container">
          <div class="row">
            <div class="col-12">
              <h6 class="font-sans-serif text-primary fw-bold">Course category</h6>
              <h1 class="mb-6">Web Development</h1>
              <form class="row g-3">
                <div class="col-sm-6 col-md-3">
                  <label class="form-label" for="inputCategories">Categories</label>
                  <select class="form-select" id="inputCategories">
                    <option selected="selected">Web development</option>
                    <option value="1">UX designer</option>
                  </select>
                </div>
                <div class="col-sm-6 col-md-3">
                  <label class="form-label" for="inputLevel">Level</label>
                  <select class="form-select" id="inputLevel">
                    <option selected="selected">All Level</option>
                    <option value="1">Level 1 </option>
                    <option value="2">Level 2 </option>
                    <option value="3">Level 3</option>
                  </select>
                </div>
                <div class="col-sm-6 col-md-3">
                  <label class="form-label" for="inputLanguage">Language</label>
                  <select class="form-select" id="inputLanguage">
                    <option selected="selected">English</option>
                    <option value="1">Bangla</option>
                    <option value="2">Hindi</option>
                  </select>
                </div>
                <div class="col-sm-6 col-md-3">
                  <label class="form-label" for="inputInstructor">Instructor</label>
                  <select class="form-select" id="inputInstructor">
                    <option selected="selected">All Instructor </option>
                  </select>
                </div>
                <div class="col-auto z-index-2">
                  <button class="btn btn-primary" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="pb-0" style="margin-top:-17rem">

        <div class="container">
          <div class="row">
                @foreach (var item in Model.Course)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top w-100" src="@item.Thumbnail" alt="courses" />
                            <div class="card-body">
                                <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">@item.Title</h5>
                            <a asp-page="Details" asp-route-id="@item.Id" class="text-muted fs--1 stretched-link text-decoration-none">@item.Description</a>
                            </div>
                        </div>
                    </div>
                }
          </div>
        </div>
      </section>

      <section>

        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 col-lg-4 mb-5"><img src="~/img/gallery/cta.png" width="280" alt="cta" /></div>
            <div class="col-md-6 col-lg-5">
              <h5 class="text-primary font-sans-serif fw-bold">Subscrible now</h5>
              <h1 class="mb-5">Get every single<br />update you will get</h1>
              <form class="row g-0 align-items-center">
                <div class="col">
                  <div class="input-group-icon">
                    <input class="form-control form-little-squirrel-control" type="email" placeholder="Enter email " aria-label="email" /><i class="fas fa-envelope input-box-icon"></i>
                  </div>
                </div>
                <div class="col-auto">
                  <button class="btn btn-primary rounded-0" type="submit">Subscribe now</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </section>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="~/js/fontawesome/all.min.js"></script>
    <script src="~/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&amp;family=Rubik:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">

