@page
@model ProjectPRN221.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Index";
}
<section class="bg-600">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @if (Model.Category != null && Model.Category != "")
                {
                    <h6 class="font-sans-serif text-primary fw-bold">Course category</h6>
                    <h1 class="mb-6">@Model.Category</h1>
                }
                <form method="get" class="row g-3">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="inputTitle">Title</label>
                        <input type="text" class="form-control" id="inputTitle" name="Title" value="@Model.Title">
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="inputCategories">Categories</label>
                        <select class="form-select" id="inputCategories" name="Category">
                            <option selected="selected" value="">All</option>
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category">@category</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="inputInstructor">Instructor</label>
                        <select class="form-select" id="inputInstructor" name="Instructor">
                            <option value="">All</option>
                            @foreach (var instructor in Model.Lecture)
                            {
                                <option value="@instructor.Id">@instructor.Username</option>
                            }
                        </select>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-auto z-index-2">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="pb-0">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Course)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top w-100" src="@item.Thumbnail" alt="courses" />
                        <div class="card-body">
                            <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">@item.Title</h5>
                            <a asp-page="Details" asp-route-id="@item.Id" class="text-muted fs--1 stretched-link text-decoration-none">@item.Description</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                        <a class="page-link" href="?pageIndex=@(Model.PageIndex - 1)&pageSize=@Model.PageSize">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                            <a class="page-link" href="?pageIndex=@i&pageSize=@Model.PageSize">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                        <a class="page-link" href="?pageIndex=@(Model.PageIndex + 1)&pageSize=@Model.PageSize">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap/bootstrap.min.js"></script>
<script src="~/js/is/is.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="~/js/fontawesome/all.min.js"></script>
<script src="~/js/theme.js"></script>

<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&amp;family=Rubik:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">

